.comp{
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0px;
  left: 0px;
}
.firstRow{
  position: relative;
  top: 20px;
}
.map{
  font-size: x-small;
  position:absolute;
  bottom: 0px;
}

.filler{
  flex: 1 1 auto;
}
