<mat-toolbar color='primary' class='comp'>
  <mat-toolbar-row class='firstRow'>
    <mat-form-field>
      <mat-label>City</mat-label>
      <input #cityInput matInput [(ngModel)]='cityName' placeholder="input city name">
    </mat-form-field>
    <button mat-flat-button style = "position: relative; left: 10px;" (click)='getWeatherForCity()'>Get DATA</button>
  <span class='filler'></span>
  <span>{{displayedCityName}}</span>
</mat-toolbar-row>
<mat-toolbar-row>
<span class="map" (mouseover)='openMap()'>or select on map</span>
</mat-toolbar-row>
</mat-toolbar>
